
<div id="userShowMainBar">
  <p id="userShowHeaderWelcome"><%= @user.username %></p>

    <form id="userToDatabaseForm" action="/players" method="get">
      <button type="submit" id="userToDatabaseButton">Database</button>
    </form>
</div>

<div id="userCardsContainer">
    <div id="userToDoCard">
    To Do Card
  </div>
  <div id="userRecommendedRecruitsCard">
    Recommended Recruits Card
  </div>
  <div id="userRecruitsContainer">
      <div id="userTableContainer">
      <h2 id="recruitsCardHeader">Recruits</h2>
      <form id="userFilterBar" action="/players/filter" method="post"> <!-- filterBar -->
      <input type="text" placeholder="Filter by Name..." id="userNameSearch" name="filter[name]">
        <select id="userHeightSelector" name="filter[height]">
          <option disabled selected>--by Height--</option>
          <option value="<5ft 3in">&lt;5ft 3in</option>
          <option value="5ft 3in">5ft 3in</option>
          <option value="5ft 4in">5ft 4in</option>
          <option value="5ft 5in">5ft 5in</option>
          <option value="5ft 6in">5ft 6in</option>
          <option value="5ft 7in">5ft 7in</option>
          <option value="5ft 8in">5ft 8in</option>
          <option value="5ft 9in">5ft 9in</option>
          <option value="5ft 10in">5ft 10in</option>
          <option value="5ft 11in">5ft 11in</option>
          <option value="6ft 0in">6ft 0in</option>
          <option value="6ft 1in">6ft 1in</option>
          <option value="6ft 2in">6ft 2in</option>
          <option value="6ft 3in">6ft 3in</option>
          <option value="6ft 4in">6ft 4in</option>
          <option value=">6ft 4in">&gt;6ft 4in</option>
        </select>
        <select id="userPositionSelector" name="filter[position]">
          <option disabled selected>--by Position--</option>
          <option value="G">G</option>
          <option value="W">W</option>
          <option value="F">F</option>
          <option value="P">P</option>
          <option value="C">C</option>
        </select>
        <select id="userGradeSelector" name="filter[grade]">
          <option disabled selected>--by Grade--</option>
          <option value="12">12</option>
          <option value="11">11</option>
          <option value="10">10</option>
          <option value="9">9</option>
        </select>
        <input type="text" placeholder="Filter by School..." id="userSchoolSearch" name="filter[school]">
        <input type="submit" value="Filter" id="userFilterSubmitButton">
      </form>
      <h3>---------------</h3>
      <table id="userRecruitsTable"> <!-- myTable -->
        <tr class="header"> <!-- header -->
          <th id="playerNumber">#</th>
          <th id="playerName">Name</th>
          <th id="playerHeight">Ht</th>
          <th id="playerPosition">Pos</th>
          <th id="playerSchool">Gr</th>
          <th id="playerRecruit">HS</th>
        </tr> 
        <% @players.each do |player| %>
          <tr>
            <td id="playerNumber"><%= player["home_number"] %></td>
            <td id="playerName"><%=link_to player["name"], player_path(player.id) %></td>
            <td id="playerHeight"><%= player["height"] %></td>
            <td id="playerPosition"><%= player["position"] %></td>
            <td id="playerSchool"><%= player["grade"] %></td>
            <td id="playerRecruit"><%= player["school_name"] %></td>
          </tr>
        <% end %>
      </table>
      <h3>---------------</h3>
      </div>
  </div>
</div>


<!-- What do we want to include in this view?


Some thoughts:

>>How do we REMOVE someone from the Recruits list?
>>>Maybe with an option to Email the user with their daily to-do items for recruiting?
>>>LONG TERM---Maybe the can set up an email campaign checking in with their recruits (drip campaigns?)

>