<h1>The Last Recruiting Tool You'll Ever Need</h1>

<div id="homePageCardsContainer">
    <div id="loginCardContainer">
        <form id="login" action="/session/new" method="get">
            <input type="submit" value="Login">
        </form>

        <form id="signup" action="/user/new" method="get">
            <input type="submit" value="Signup">
        </form>
    </div>
    <div id="aboutCardContainer">
        <div id="aboutCardHeader">--Who I Am--</div>
        <div id="aboutCardContent">
            I am a current collegiate assistant coach who has spent the better part of my career frustrated with miscommunication and bad data on potential recruits.
            It is my hope that this tool will make communication more efficient, and provide a centralized location for all information relevant to recruiters who 
            are trying to identify the right athletes to recruit to their program.  

            Here you will find real data.  No more having to click Google, or browse other websites who are dependent upon the athlete or coach entering their roster data.
            It's all here.  It's all yours.  Happy Recruiting.
        </div>
    </div>
    <div id="productsCardContainer">
        <div id="productsCardHeader">--Our Products--</div>
        <div id="productsCardContent">
            <div id="focusProduct">This will be the primary plan!</div>
            <div id="homepage-paypal-button-container"></div>
            <form method="get" action="/orders" id="seePlansForm">
                <button type="submit" id="seePlansButton">See All Plans</button>
            </form>
        </div>
    </div>
    <div id="newsReleasesCardContainer">
        <div id="newsReleasesHeader">
            News
        </div>
        <div id="newsReleasesList">
            <% if @news_items.nil? %>
                No news!
            <% else %>
                <% @news_items.each_with_index do |news_item, i|  %>
                    <% if i % 2 == 0 %>
                        <br>
                        <div id="newsItem2">
                            <div id="newsItem2CreatedAt"><%= news_item.created_at.strftime("%B %d, %Y") %> :</div> 
                            <br>
                            <div id="newsItem2Title"><%= news_item.title %></div>
                            <br>
                            <div id="newsItem2TextArea"><%= news_item.textarea %></div>
                        </div>
                    <% else %>
                        <br>
                        <div id="newsItem1">
                            <div id="newsItem2CreatedAt"><%= news_item.created_at.strftime("%B %d, %Y") %> :</div> 
                            <br>
                            <div id="newItem1Title"><%= news_item.title %></div>
                            <br>
                            <div id="newsItem1TextArea"><%= news_item.textarea %></div>   
                        </div> 
                    <% end %>
                <% end %> 
            <% end %>
        </div>
    </div>
</div>
<script src="https://www.paypal.com/sdk/js?client-id=AZmFmXTsblFzWthOwu3ZfjoMtuNUiCwzfO8ln7EKKW616Uqmuzx5CHgDcSSF9nc2xRhJ17BIIkOSpgkO"></script>
<script>
    paypal.Buttons({
     env: 'sandbox', // Valid values are sandbox and live.
    createOrder: async () => {
        const response = await fetch('/create_order', {method: 'POST'});
        const responseData = await response.json();
        return responseData.token;
        },
    onApprove: async (data) => {
        const response = await fetch('/capture_order', {
        method: 'POST',
        headers: {
           'Content-Type': 'application/json'
        },
        body: JSON.stringify({order_id: data.orderID})
        });
        const responseData = await response.json();
        if (responseData.status === 'COMPLETED') {
            alert('COMPLETED');
            // REDIRECT TO SUCCESS PAGE
        }
    }
    }).render('#homepage-paypal-button-container');
</script>