<h1>The Last Recruiting Tool You'll Ever Need</h1>

<div id="homePageCardsContainer">
    <div id="loginCardContainer">
        <form id="login" action="/session/new" method="get">
            <input type="submit" value="Login">
        </form>

        <form id="signup" action="/user/new" method="get">
            <input type="submit" value="Signup">
        </form>
    </div>
    <div id="aboutCardContainer">
        <div id="aboutCardHeader">--Who I Am--</div>
        <div id="aboutCardContent">
            I am a current collegiate assistant coach who has spent the better part of my career frustrated with miscommunication and bad data on potential recruits.
            It is my hope that this tool will make communication more efficient, and provide a centralized location for all information relevant to recruiters who 
            are trying to identify the right athletes to recruit to their program.  

            Here you will find real data.  No more having to click Google, or browse other websites who are dependent upon the athlete or coach entering their roster data.
            It's all here.  It's all yours.  Happy Recruiting.
        </div>
    </div>
    <div id="productsCardContainer">
        <div id="productsCardHeader">--Our Products--</div>
        <div id="productsCardContent">Coming Soon</div>
    </div>
    <div id="newsReleasesCardContainer">
        <div id="newsReleasesHeader">News</div>
        <div id="newsReleasesList">
            <% if @news_items.nil? %>
                No news!
            <% else %>
                <% @news_items.each_with_index do |news_item, i|  %>
                    <% if i % 2 == 0 %>
                        <br>
                        <div id="newsItem2"><%= news_item.created_at.strftime("%B %d, %Y") %> :</div> 
                        <br>
                        <div id="newsItem2Title"><%= news_item.title %></div>
                        <br>
                        <div id="newsItem2TextArea"><%= news_item.textarea %></div>
                    <% else %>
                        <br>
                        <div id="newsItem1"><%= news_item.created_at.strftime("%B %d, %Y") %> :</div> 
                        <br>
                        <div id="newItem1Title"><%= news_item.title %></div>
                        <br>
                        <div id="newsItem1TextArea"><%= news_item.textarea %></div>    
                    <% end %>
                <% end %> 
            <% end %>
        </div>
    </div>
</div>