<h1>Database for 2019-2020 Season</h1>

<div id="tableContainer">
  <h3>Filter Options</h3>
  <form id="filterBar" action="/players/filter" method="post">
  </form>


  <h3>---------------</h3>
  <table id="myTable">
    <tr class="header">
      <th>Number</th>
      <th>Name</th>
      <th>Height</th>
      <th>Position</th>
      <th>Grade</th>
      <th>School</th>
      <th>Recruiting?</th>
    </tr> 
    <% @players.each do |player| %>
      <tr>
        <td><%= player["home_number"] %></td>
        <td><%=link_to player["name"], player_path(player.id) %></td>
        <td><%= player["height"] %></td>
        <td><%= player["position"] %></td>
        <td><%= player["grade"] %></td>
        <td><%= player["school_name"] %></td>
        <td>
          <% if current_user.nil? %>
            <a href="<%= new_session_url %>" id="signin1">Sign in</a>
          <% else  %>
            <%= button_to "Recruit", recruits_url, params: {:recruit => { :user_id => current_user.id, :player_id => player.id }} %>
          <% end %>
        </td>
    <% end %>
  </table>
  <h3>---------------</h3>
</div>
