<h1>Database for 2019-2020 Season</h1>

<div id="tableContainer">
  <h3>Filter Options</h3>

  <%= form_for @players do |player|%>
  <%= form.search_field :name %>
  <%= form.select :height, options_for_select(@heightArray, selected = "--By Height--") %>
  <%= form.select :position, options_for_select(@positionsArray, selected = "--By Position--") %>
  <%= form.select :grade, options_for_select(@gradeArray, selected = "--By Grade--") %>
  <%= form.search_field :school_name %>
  <% end  %>
  <h3>---------------</h3>
  <table id="myTable">
    <tr class="header">
      <th>Name</th>
      <th>Height</th>
      <th>Position</th>
      <th>Grade</th>
      <th>School</th>
    </tr> 
    <% @players.each do |player| %>
      <tr>
        <td><%= player["name"] %></td>
        <td><%= player["height"] %></td>
        <td><%= player["position"] %></td>
        <td><%= player["grade"] %></td>
        <td><%= player["school_name"] %></td>
      </tr>
    <% end %>
  </table>
  <h3>---------------</h3>
</div>
