<h1>Database for 2019-2020 Season</h1>

<table id="myTable" style="width:55%">
  <tr class="header" id="filterButtons">
    <th><button id="nameButton">Name</button></th>
    <th><button id="heightButton">Height</button></th>
    <th><button id="positionButton">Position</button></th>
    <th><button id="gradeButton">Grade</button></th>
    <th><button id="schoolButton">School</button></th>
  </tr> 
  <% @players.each do |player| %>
    <tr>
      <td><%= player.name %></td>
      <td><%= player.height %></td>
      <td><%= player.position %></td>
      <td><%= player.grade %></td>
      <td><%= player.school %></td>
    </tr>
  <% end %>
  </table>
