<h1>Database for 2019-2020 Season</h1>

<div id="tableContainer">
  <h3>Filter Options</h3>
  <form id="filterBar" action="/players/filter" method="post">
    <input type="text" placeholder="Filter by Name..." id="nameSearch" name="filter[name]">
    <select id="heightSelector" name="filter[height]">
      <option id="heightSelectorHeader" disabled selected>--by Ht--</option>
      <option id="<5ft 3in" value="<5ft 3in">&lt;5ft 3in</option>
      <option id="5ft 3in" value="5ft 3in">5ft 3in</option>
      <option id="5ft 4in" value="5ft 4in">5ft 4in</option>
      <option id="5ft 5in" value="5ft 5in">5ft 5in</option>
      <option id="5ft 6in" value="5ft 6in">5ft 6in</option>
      <option id="5ft 7in" value="5ft 7in">5ft 7in</option>
      <option id="5ft 8in" value="5ft 8in">5ft 8in</option>
      <option id="5ft 9in" value="5ft 9in">5ft 9in</option>
      <option id="5ft 10in" value="5ft 10in">5ft 10in</option>
      <option id="5ft 11in" value="5ft 11in">5ft 11in</option>
      <option id="6ft 0in" value="6ft 0in">6ft 0in</option>
      <option id="6ft 1in" value="6ft 1in">6ft 1in</option>
      <option id="6ft 2in" value="6ft 2in">6ft 2in</option>
      <option id="6ft 3in" value="6ft 3in">6ft 3in</option>
      <option id="6ft 4in" value="6ft 4in">6ft 4in</option>
      <option id=">6ft 4in" value=">6ft 4in">&gt;6ft 4in</option>
      <% if !params["filter"].nil? %>      
        <% if !params["filter"]["height"].nil? %>
          <script>
            document.getElementById("<%= params["filter"]["height"] %>").setAttribute('selected', 'selected')
            document.getElementById("heightSelectorHeader").setAttribute('selected', 'false')
          </script>
        <% end %>
      <% end %>
    </select>
    <select id="positionSelector" name="filter[position]">
      <option id="positionSelectorHeader" disabled selected>--by Pos--</option>
      <option id="G" value="G">G</option>
      <option id="W" value="W">W</option>
      <option id="F" value="F">F</option>
      <option id="P" value="P">P</option>
      <option id="C" value="C">C</option>
      <% if !params["filter"].nil? %>      
        <% if !params["filter"]["position"].nil? %>
          <script>
            document.getElementById("<%= params["filter"]["position"] %>").setAttribute('selected', 'selected')
            document.getElementById("positionSelectorHeader").setAttribute('selected', 'false')
          </script>
        <% end %>
      <% end %>
    </select>
    <select id="gradeSelector" name="filter[grade]">
      <option id="gradeSelectorHeader" disabled selected>--by Gr--</option>
      <option id="12" value="12">12</option>
      <option id="11" value="11">11</option>
      <option id="10" value="10">10</option>
      <option id="9" value="9">9</option>
      <% if !params["filter"].nil? %>      
        <% if !params["filter"]["grade"].nil? %>
          <script>
            document.getElementById("<%= params["filter"]["grade"] %>").setAttribute('selected', 'selected')
            document.getElementById("gradeSelectorHeader").setAttribute('selected', 'false')
          </script>
        <% end %>
      <% end %>
    </select>
    <input type="text" placeholder="Filter by HS..." id="schoolSearch" name="filter[school]">
    <input type="submit" value="Filter" id="submitButton">
  </form>


  <h3>---------------</h3>
  <table id="myTable">
    <tr class="header">
      <th id="playerNumber">#</th>
      <th id="playerName">Name</th>
      <th id="playerHeight">Ht</th>
      <th id="playerPosition">Pos</th>
      <th id="playerGrade">Gr</th>
      <th id="playerSchool">HS</th>
      <th id="playerRecruit">Recruit?</th>
    </tr> 
    <% @players.each do |player| %>
      <tr id="playerDatabaseRow">
        <td id="playerNumber"><%= player["home_number"] %></td>
        <td id="playerName"><%=link_to player["name"], player_path(player.id) %></td>
        <td id="playerHeight"><%= player["height"] %></td>
        <td id="playerPosition"><%= player["position"] %></td>
        <td id="playerGrade"><%= player["grade"] %></td>
        <td id="playerSchool"><%= player["school_name"] %></td>
        <td id="playerRecruit">
          <% if current_user.nil? %>
            <a href="<%= new_session_url %>" id="playerIndexSignin">Sign in</a>
          <% elsif @recruits.include?(player) %>
              &#10003;
          <% else  %>
            <%= button_to "Recruit", recruits_url, params: {:recruit => { :user_id => current_user.id, :player_id => player.id }} %>
          <% end %>
        </td>
    <% end %>
  </table>
  <h3>---------------</h3>
</div>
