<h1>Database for 2019-2020 Season</h1>

<div id="tableContainer">
  <h3>Filter Options</h3>
  <form id="filterBar" action="/players/filter" method="post">
    <input type="text" placeholder="Filter by Name..." id="nameSearch" name="filter[name]">
    <select id="heightSelector" name="filter[height]">
      <option id="heightSelectorHeader" disabled selected>--by Ht--</option>
      <option id="<5ft 3in" value="<5ft 3in">&lt;5ft 3in</option>
      <option id="5ft 3in" value="5ft 3in">5ft 3in</option>
      <option id="5ft 4in" value="5ft 4in">5ft 4in</option>
      <option id="5ft 5in" value="5ft 5in">5ft 5in</option>
      <option id="5ft 6in" value="5ft 6in">5ft 6in</option>
      <option id="5ft 7in" value="5ft 7in">5ft 7in</option>
      <option id="5ft 8in" value="5ft 8in">5ft 8in</option>
      <option id="5ft 9in" value="5ft 9in">5ft 9in</option>
      <option id="5ft 10in" value="5ft 10in">5ft 10in</option>
      <option id="5ft 11in" value="5ft 11in">5ft 11in</option>
      <option id="6ft 0in" value="6ft 0in">6ft 0in</option>
      <option id="6ft 1in" value="6ft 1in">6ft 1in</option>
      <option id="6ft 2in" value="6ft 2in">6ft 2in</option>
      <option id="6ft 3in" value="6ft 3in">6ft 3in</option>
      <option id="6ft 4in" value="6ft 4in">6ft 4in</option>
      <option id=">6ft 4in" value=">6ft 4in">&gt;6ft 4in</option>
      <% if !params["filter"].nil? %>      
        <% if !params["filter"]["height"].nil? %>
          <script>
            document.getElementById("<%= params["filter"]["height"] %>").setAttribute('selected', 'selected')
            document.getElementById("heightSelectorHeader").setAttribute('selected', 'false')
          </script>
        <% end %>
      <% end %>
    </select>
    <select id="positionSelector" name="filter[position]">
      <option id="positionSelectorHeader" disabled selected>--by Pos--</option>
      <option id="G" value="G">G</option>
      <option id="W" value="W">W</option>
      <option id="F" value="F">F</option>
      <option id="P" value="P">P</option>
      <option id="C" value="C">C</option>
      <% if !params["filter"].nil? %>      
        <% if !params["filter"]["position"].nil? %>
          <script>
            document.getElementById("<%= params["filter"]["position"] %>").setAttribute('selected', 'selected')
            document.getElementById("positionSelectorHeader").setAttribute('selected', 'false')
          </script>
        <% end %>
      <% end %>
    </select>
    <select id="gradeSelector" name="filter[grade]">
      <option id="gradeSelectorHeader" disabled selected>--by Gr--</option>
      <option id="12" value="12">12</option>
      <option id="11" value="11">11</option>
      <option id="10" value="10">10</option>
      <option id="9" value="9">9</option>
      <% if !params["filter"].nil? %>      
        <% if !params["filter"]["grade"].nil? %>
          <script>
            document.getElementById("<%= params["filter"]["grade"] %>").setAttribute('selected', 'selected')
            document.getElementById("gradeSelectorHeader").setAttribute('selected', 'false')
          </script>
        <% end %>
      <% end %>
    </select>
    <input type="text" placeholder="Filter by HS..." id="schoolSearch" name="filter[school]">
    <select id="stateSelector" name="filter[state]">
      <option id="stateSelectorHeader" disabled selected>--by State--</option>
      <option id="OR" value="OR">OR</option>
      <option id="WA" value="WA">WA</option>
      <% if !params["filter"].nil? %>      
        <% if !params["filter"]["state"].nil? %>
          <script>
            document.getElementById("<%= params["filter"]["state"] %>").setAttribute('selected', 'selected')
            document.getElementById("stateSelectorHeader").setAttribute('selected', 'false')
          </script>
        <% end %>
      <% end %>
    </select>
    <input type="submit" value="Filter" id="submitButton">
    <input type="button" onclick="location.href='<%= players_path %>';" value="Reset" id="resetButton">
  </form>


  <h3>---------------</h3>
  <table id="myTable">
    <tr class="header">
      <th id="playersNumberHeader">#</th>
      <th id="playersNameHeader">Name</th>
      <th id="playersHeightHeader">Ht</th>
      <th id="playersPositionHeader">Pos</th>
      <th id="playersGradeHeader">Gr</th>
      <th id="playersSchoolHeader">HS</th>
      <th id="playersStateHeader">ST</th>
      <th id="playersRecruitHeader">Recruit?</th>
      <% if !params["filter"].nil? %>      
          <script>
            let number = document.getElementById("playersNumberHeader");
            number.setAttribute('onclick', 'sortTable(0); changeArrowDirection("numberSortArrow");');
            number.innerHTML += "<div class='arrow-right' id='numberSortArrow'></div>";
            let name = document.getElementById("playersNameHeader");
            name.setAttribute('onclick', 'sortTable(1); changeArrowDirection("nameSortArrow");');
            name.innerHTML += "<div class='arrow-right' id='nameSortArrow'></div>";
            let height = document.getElementById("playersHeightHeader");
            height.setAttribute('onclick', 'sortTable(2); changeArrowDirection("heightSortArrow");');
            height.innerHTML += "<div class='arrow-right' id='heightSortArrow'></div>";
            let position = document.getElementById("playersPositionHeader");
            position.setAttribute('onclick', 'sortTable(3); changeArrowDirection("positionSortArrow");');
            position.innerHTML += "<div class='arrow-right' id='positionSortArrow'></div>";
            let grade = document.getElementById("playersGradeHeader");
            grade.setAttribute('onclick', 'sortTable(4); changeArrowDirection("gradeSortArrow");');
            grade.innerHTML += "<div class='arrow-right' id='gradeSortArrow'></div>";
            let school = document.getElementById("playersSchoolHeader");
            school.setAttribute('onclick', 'sortTable(5); changeArrowDirection("schoolSortArrow");');
            school.innerHTML += "<div class='arrow-right' id='schoolSortArrow'></div>";
            let state = document.getElementById("playersStateHeader");
            state.setAttribute('onclick', 'sortTable(5); changeArrowDirection("stateSortArrow");');
            state.innerHTML += "<div class='arrow-right' id='stateSortArrow'></div>";
          </script>
      <% end %>
    </tr> 
    <% @players.each do |player| %>
      <tr id="playerDatabaseRow">
        <td id="playerNumber"><%= player["home_number"] %></td>
        <td id="playerName"><%=link_to player["name"], player_path(player.id) %></td>
        <td id="playerHeight"><%= player["height"] %></td>
        <td id="playerPosition"><%= player["position"] %></td>
        <td id="playerGrade"><%= player["grade"] %></td>
        <td id="playerSchool"><%= player["school_name"] %></td>
        <td id="playerState"><%= player["state"] %></td>
        <td id="playerRecruit">
          <% if current_user.nil? %>
            <a href="<%= new_session_url %>" id="playerIndexSignin">Sign in</a>
          <% elsif @recruits.include?(player.id) %>
              &#10003;
          <% else  %>
            <%= button_to "Recruit", recruits_url, params: {:recruit => { :user_id => current_user.id, :player_id => player.id }, :filters => @filters} %>
          <% end %>
        </td>
    <% end %>
  </table>
  <% if params["filter"].nil? %>
    <%== pagy_nav(@pagy).html_safe %>
  <% end %>
  <h3>---------------</h3>
</div>
<script>
  function changeArrowDirection(arrowToChange) {
    let arrow = document.getElementById(arrowToChange);
    let direction = arrow.getAttribute("class");
    if (direction == 'arrow-right') {
        arrow.setAttribute("class", "arrow-down");      
    } else if (direction == 'arrow-down') {
        arrow.setAttribute('class', 'arrow-up');
    } else {
        arrow.setAttribute('class', 'arrow-down');
    }
  }

  function sortTable(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("myTable");
    switching = true;
    //Set the sorting direction to ascending:
    dir = "asc"; 
    /*Make a loop that will continue until
    no switching has been done:*/
    while (switching) {
      //start by saying: no switching is done:
      switching = false;
      rows = table.rows;
      /*Loop through all table rows (except the
      first, which contains table headers):*/
      for (i = 1; i < (rows.length - 1); i++) {
        //start by saying there should be no switching:
        shouldSwitch = false;
        /*Get the two elements you want to compare,
        one from current row and one from the next:*/
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        /*check if the two rows should switch place,
        based on the direction, asc or desc:*/
        if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            //if so, mark as a switch and break the loop:
            shouldSwitch= true;
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            //if so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        /*If a switch has been marked, make the switch
        and mark that a switch has been done:*/
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        //Each time a switch is done, increase this count by 1:
        switchcount ++;      
      } else {
        /*If no switching has been done AND the direction is "asc",
        set the direction to "desc" and run the while loop again.*/
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }
</script>
