
<form id="toDatabase" action="/players" method="get">
    <button type="submit">Database</button>
</form>


<div id="playerNameHeader"><%= @player.name %></div>
<div id="dashSpacer">---------------</div>

<table id="playerTable">
    <tr id="playerTableHeaderRow">
        <th>Number</th>
        <th>Height</th>
        <th>Position</th>
        <th>Grade</th>
        <th>School</th>
        <th>Recruiting?</th>
    </tr>
    <tr>
        <td><%= @player.home_number %></td>
        <td><%= @player.height %></td>
        <td><%= @player.position %></td>
        <td><%= @player.grade %></td>
        <td><%= @player.school_name %></td>
        <td><button id="watchButton">Add to Recruits</button></td>
    </tr>
</table>

<div id="cardsContainer">
    <div id="contactInfoCard">Contact Info -- Coming Soon</div>
    <div id="socialMediaCard">Social Media Feeds -- Coming Soon</div>

    <div id="notesCard">
        <% if current_user.nil? %>
            <a href="<%= new_session_url %>" id="signin1">Sign in</a>
        <% elsif  @notes.length == 0 %>
            <button type="button" id="addNote">Add Note</button>
        <% else %>
            <% @notes.each do |note| %>
            <div id="note"><%= note %></div>
            <% end %>
        <% end  %>
    </div>

    <div id="scheduleCard">Schedule -- Coming Soon</div>
    <div id="filmCard">Film Card -- Coming Soon</div>
</div>

  

