
<form id="toDatabase" action="/players" method="get">
    <button type="submit">Database</button>
</form>


<div id="playerNameHeader"><%= @player.name %></div>
<div id="dashSpacer">---------------</div>

<table id="playerTable">
    <tr id="playerTableHeaderRow">
        <th>Number</th>
        <th>Height</th>
        <th>Position</th>
        <th>Grade</th>
        <th>School</th>
        <th>Recruiting?</th>
    </tr>
    <tr>
        <td><%= @player.home_number %></td>
        <td><%= @player.height %></td>
        <td><%= @player.position %></td>
        <td><%= @player.grade %></td>
        <td><%= @player.school_name %></td>
        <td><button id="watchButton">Add to Recruits</button></td>
    </tr>
</table>

<div id="cardsContainer">
    <div id="contactCardCard">
        <div id="contactCardHeader">
            Contact card
        </div>
         <% if current_user.nil? %>
            <a href="<%= new_session_url %>" id="signin1">Sign in</a>     
        <% else %>
        <div id="contactCardBody">
            <!-- use readonly attribute on form fields paired with javascript function tied to an 'edit' button that removes the readonly attribute and replaces the edit button with a submit button to post the form to the database -->
            <form action="/contact_cards" method="post" id="contactCardForm" remote: true>
                <label for="cellPhone">Cell</label>
                <input type="text" id="cellPhone" name="contact_card[cell]" value=<%= @contact_card['cell'] %> readonly >
                <label for="email">Email</label>
                <input type="email" id="email" name="contact_card[email]" value=<%= @contact_card['email'] %> readonly>
                <label for="homePhone">Home</label>
                <input type="text" id="homePhone" name="contact_card[phone]" value=<%= @contact_card['phone'] %> readonly>
                <label for="street">Street</label>
                <input type="text" id="street" name="contact_card[street]" value=<%= @contact_card['street'] %> readonly>
                <label for="ctiy">City</label>
                <input type="text" id="city" name="contact_card[city]" value=<%= @contact_card['city'] %> readonly>
                <label for="state">State</label>
                <input type="text" id="state" name="contact_card[state]" value=<%= @contact_card['state'] %> readonly>
                <label for="zip">Zip</label>
                <input type="number" id="zip" name="contact_card[zip]" value=<%= @contact_card['zip'] %> readonly>
                <input type="hidden" id="submitContactCard" value="Submit">
            </form>
            <button type="button">Edit</button>
        </div>
        <% end %>
    </div>
    <div id="socialMediaCard">
        <div id="socialMediaHeader">
            Social Media Feeds
        </div>
        <div id="socialMediaBody">
        -- Coming Soon --
        </div>
    </div>
    <div id="notesCard">
        <div id="notesHeader">Notes</div>
        <% if current_user.nil? %>
            <a href="<%= new_session_url %>" id="signin1">Sign in</a>     
        <% else %>
        <div id="notesList">
            <% @notes.each_with_index do |note, i| %>
                <% if i % 2 == 0 %>
                    <div id="note2"><%= note.created_at %> : <%= note.note %></div>
                <% else %>
                    <div id="note1"><%= note.created_at %> : <%= note.note %></div>    
                <% end %>
            <% end %>
        </div>
        <form action="/notes" method="post" id="notesForm" remote: "false">
            <textarea id="noteTextArea" name="note[note]"></textarea>
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" id="noteUserID" name="note[user_id]" value= <%= current_user.id %> >
            <input type="hidden" id="notePlayerID" name="note[player_id]" value= <%= @player.id %> >
            <input type="submit" value="Add Note" id="noteSubmitButton">
        </form>
        <% end  %>
    </div>
    <div id="scheduleCard">
        <div id="scheduleHeader">
            Schedule
        </div>
        <div id="scheduleBody">
        -- Coming Soon --
        </div>
    </div>
    <div id="filmCard">
        <div id="filmHeader">
            Film Card
        </div>
        <div id="filmBody">
        -- Coming Soon --
        </div>
    </div>
</div>

  

