
<form id="toDatabase" action="/players" method="get">
    <button type="submit">Database</button>
</form>


<div id="playerNameHeader"><%= @player.name %></div>
<div id="dashSpacer">---------------</div>

<table id="playerTable">
    <tr id="playerTableHeaderRow">
        <th>Number</th>
        <th>Height</th>
        <th>Position</th>
        <th>Grade</th>
        <th>School</th>
        <th>Recruiting?</th>
    </tr>
    <tr>
        <td><%= @player.home_number %></td>
        <td><%= @player.height %></td>
        <td><%= @player.position %></td>
        <td><%= @player.grade %></td>
        <td><%= @player.school_name %></td>
        <td><button id="watchButton">Add to Recruits</button></td>
    </tr>
</table>

<div id="cardsContainer">
    <div id="contactInfoCard">Contact Info -- Coming Soon</div>
    <div id="socialMediaCard">Social Media Feeds -- Coming Soon</div>

    <div id="notesCard">
        <div id="notesHeader">Notes</div>
        <% if current_user.nil? %>
            <a href="<%= new_session_url %>" id="signin1">Sign in</a>     
        <% else %>
            <% @notes.each_with_index do |note, i| %>
                <% if i % 2 == 0 %>
                    <div id="note2"><%= note.created_at %> : <%= note.note %></div>
                <% else %>
                    <div id="note1"><%= note.created_at %> : <%= note.note %></div>    
                <% end %>
            <% end %>
            <form action="/notes" method="post" id="notesForm" remote: "false">
                <textarea id="noteTextArea" name="note[note]"></textarea>
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" id="noteUserID" name="note[user_id]" value= <%= current_user.id %> >
                <input type="hidden" id="notePlayerID" name="note[player_id]" value= <%= @player.id %> >
                <input type="submit" value="Add Note" id="noteSubmitButton">
            </form>
        <% end  %>
    </div>

    <div id="scheduleCard">Schedule -- Coming Soon</div>
    <div id="filmCard">Film Card -- Coming Soon</div>
</div>

  

