<h1><%= @player.name %></h1>
<h3>---------------</h3>

<table>
    <tr>
        <th>Height</th>
        <th>Position</th>
        <th>Grade</th>
        <th>School</th>
    </tr>
    <tr>
        <td><%= @player.height %></td>
        <td><%= @player.position %></td>
        <td><%= @player.grade %></td>
        <td><%= @player.school_name %></td>
    </tr>
</table>

  

