
<form id="toDatabase" action="/players" method="get">
    <button type="submit">Database</button>
</form>


<div id="playerNameHeader"><%= @player.name %></div>
<div id="dashSpacer">---------------</div>

<table id="playerTable">
    <tr id="playerTableHeaderRow">
        <th>Number</th>
        <th>Height</th>
        <th>Position</th>
        <th>Grade</th>
        <th>School</th>
        <th>Recruiting?</th>
    </tr>
    <tr>
        <td><%= @player.home_number %></td>
        <td><%= @player.height %></td>
        <td><%= @player.position %></td>
        <td><%= @player.grade %></td>
        <td><%= @player.school_name %></td>
        <td>
          <% if current_user.nil? %>
            <a href="<%= new_session_url %>" id="playerIndexSignin">Sign in</a>
          <% elsif @recruits.include?(@player) %>
              &#10003;
          <% else  %>
            <%= button_to "Recruit", recruits_url, params: {:recruit => { :user_id => current_user.id, :player_id => @player.id }} %>
          <% end %>
        </td>
    </tr>
</table>

<div id="cardsContainer">
    <div id="contactCardCard">
        <div id="contactCardHeader">
            Contact Card
        </div>
        <% if current_user.nil? %>
            <a href="<%= new_session_url %>" id="contactCardSignIn">Sign in</a>     
        <% elsif  @contact_card != [] %> <!-- there is an existing contact_card for this user for this player -->
            <%= render "contact_card_edit", locals: {contact_card: @contact_card, player: @player, current_user: current_user} %>
        <% else %> <!-- if there is no contact card for this player, for this user -->
            <%= render "contact_card_new", locals: {contact_card: @contact_card, player: @player, current_user: current_user} %>
        <% end %>
    </div>
    <div id="socialMediaCard">
        <div id="socialMediaHeader">
            Social Media Feeds
        </div>
        <div id="socialMediaBody">
        -- Coming Soon --
        </div>
    </div>
    <div id="notesCard">
        <div id="notesHeader">Notes</div>
        <% if current_user.nil? %>
            <a href="<%= new_session_url %>" id="notesCardSignIn">Sign in</a>     
        <% else %>
        <div id="notesList">
            <% @notes.each_with_index do |note, i| %>
                <% if i % 2 == 0 %>
                    <div id="note2"><%= note.created_at %> : <%= note.note %></div>
                <% else %>
                    <div id="note1"><%= note.created_at %> : <%= note.note %></div>    
                <% end %>
            <% end %>
        </div>
        <form action="/notes" method="post" id="notesForm" remote: "false">
            <textarea id="noteTextArea" name="note[note]"></textarea>
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" id="noteUserID" name="note[user_id]" value= <%= current_user.id %> >
            <input type="hidden" id="notePlayerID" name="note[player_id]" value= <%= @player.id %> >
            <input type="submit" value="Add Note" id="noteSubmitButton">
        </form>
        <% end  %>
    </div>
    <div id="scheduleCard">
        <div id="scheduleCardHeader">
            Schedule
        </div>
        <div id="scheduleBody">
            <table id="scheduleTable">
                <tr id="scheduleHeaderBar">
                    <th>Date</th>
                    <th>Home</th>
                    <th>Score</th>
                    <th>Away</th>
                    <th>Score</th>
                    <th>Result</th>
                </tr>
                <% @schedule.each do |contest| %>
                    <tr> 
                        <td><%= contest["start_at"] %></td>
                        <td><%= contest["home_name"] %></td>
                        <td><%= contest["home_score"] %></td>
                        <td><%= contest["away_name"] %></td>
                        <td><%= contest["away_score"] %></td>
                        <td>
                          <% if DateTime.parse(contest["start_at"]).to_date < Date.today%>
                            <% if contest["home_id"] == @player.team_id %>
                                <% if contest["home_win"] == true  %>
                                    W
                                <% else %>
                                    L
                                <% end %>
                            <% else %>
                                <% if contest["away_win"] == true %>
                                    W
                                <% else %>
                                    L
                                <% end %>
                            <% end %>
                          <% else %>
                            TBD
                          <% end%>
                        </td>
                    </tr>
                <% end %>
            </table>
        </div>
    </div>
    <div id="filmCard">
        <div id="filmHeader">
            Film Card
        </div>
        <div id="filmBody">
        -- Coming Soon --
        </div>
    </div>
</div>

  

