<!DOCTYPE html>
<html>
  <head>
    <title>GoneRecruiting</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render partial: 'layouts/errors' %>
  </head>

  <body>
  <header id="headerBar">
    <h1 id="headerTitle"><a href="<%= root_url %>">Gone Recruiting</a></h1>
    <div id="headerLinksBox">
    <% if current_user.nil? %>
      <a href="<%= new_session_url %>" id="signin1">Sign in</a>
      <a href="<%= new_user_url %>" id="signup1">Sign up</a>
    <% else %>
      <div id="headerUsername"><%= current_user.username %></div>
      <form action="<%= session_url %>" method="post">
        <input
          type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Logout" id="headerLogout">
      </form>
    <% end %>
    </div>
  </header>
    <%= yield %>
  </body>
</html>
